# ignore .idea generated directory and stuff
**/.idea
/node_modules
npm-debug.log
.DS_Store
/*.env

# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml